/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --like-heart: #ff0000;
  --transition-duration: 0.3s;
  --transition-timing-function: ease;
  --hover-transition-duration: 0.5s;
  --hover-timing-function: ease-in-out;
  --font-family-additional: "PressStart2P-Regular", sans-serif;
  --font-family-basic: "Inter-Variable", sans-serif;
  --background-color-backdrop: rgba(0, 0, 0, 0.75);
}
